// Breakpoints

$mobile: 0;         // Mobile begins here
$tablet: 768px;       // Tablet begins here
$desktop: 1250px;     // Desktop begins here

// Font stacks

$font-base: 'Roboto Condensed', sans-serif;


// Color palettes

$base-color: #37424a;
$red: #8a2432;
